.alternative {
  background: #FFFFFF url('images/unselected_up_bg.png') repeat-x scroll left top;
  border: 1px solid #D2D2D2;
  margin-bottom: 7px;
  position: relative;
}

.alternative-selected {
  background: #E4E4E4 url('images/selected_up_bg.png') repeat-x scroll left top;
}

.alternative-over {
  background: #FFFFFF url('images/unselected_over_bg.png') repeat-x scroll left bottom;
}

.alternative-selected-over {
  background: #E4E4E4 url('images/selected_over_bg.png') repeat-x scroll left bottom;
}

.multichoice-question .form-item, .multichoice-question .form-radios, .multichoice-question .form-radios .form-item,
.multichoice-question .form-checkboxes, .multichoice-question .form-checkboxes .form-item, .multichoice-question dl,
.multichoice-question .form-radio, .multichoice-question .form-radio, .multichoice-question .form-checkbox, .multichoice-question .form-checkbox {
  margin: 0;
}

.alternative-chooser {
  position: absolute;
  left: 12px;
  top: 50%;
  height: 14px;
  margin-top: -7px;
}

.alternative-content {
  margin: 3px 0 3px 40px;
}

.alternative-content p {
  margin: 0;
}

#loading-questions {
  margin: 0 0 5px 5px;
}

.image-button {
  cursor: pointer;
}

.navigation {
  margin-right: 5px;
}

#question-section .answering-form {
  margin-bottom: 15px;
}

#quiz_progress {
  font-weight: bold;
  font-style: normal;
  font-size: 100%;
  margin-bottom: 0.3em;
}

.alternative-chooser .form-item,
.alternative-chooser .form-item label.option,
.alternative-chooser .form-item label.option input {
  display: block;
}

#quiz-of-num-questions {
  font-weight: normal;
}

#quiz-total-score {
  background: #EEEEEE url('images/total_score_bg.png') repeat-x scroll left top;
  height: 4em;
  border: 2px solid #cccccc;
  margin-top: 1em;
}

#total-score-text {
  display: table-cell;
  height: 4em;
  vertical-align: middle;
  padding-left: 20px;
}

.quiz-report strong {
  font-size: 1.3em;
  font-weight: bold;
}

.question-report {
  border: 2px solid #cccccc;
  margin-top: 1.3em;
  padding: 10px;
}

.quiz-report-score-container, .quiz-report-top-section{
  padding-left: 10px;
}

.multichoice-report, .multichoice-report tbody, .multichoice-report thead {
  border: 0;
  margin: 0;
  padding: 0;
}

.multichoice-report {
  margin-top: 1em;
  width: 100%;
}

.icon-holder {
  width: 27px;
  text-align: center;
}

.tr-odd {
  background-color: #E2E2E2;
}

.multichoice-report td, .multichoice-report th {
  padding: 0 0 0 10px;
}

.multichoice-report th {
  font-weight: normal;
  border: 0;
  padding-bottom: 1em;
}

.multichoice-report p:first-child {
  margin-top: 0;
}

.quiz-report p {
  margin-bottom: 0;
}

.quiz-report-response-header {
  margin-top: 1.3em;
}

.quiz-report-score-container {
  margin-top: 1em;
}

p.quiz-report-question {
  margin-bottom: 0.5em;
}